@using AspNetMVCSandbox.Models

@model IEnumerable<CustOrderHist_Result>

@{
    Layout = null;
}
<style type="text/css">
    .box {
        width: 33%;
        height: 100px;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
    }

    a:hover {
        outline: none;
        text-decoration: none;
    }

    .main {
        display: flex;
    }
    .color-red {
        color:red;
    }
    .color-green {
        color:green !important;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script type="text/javascript">
        function ShowDetails(ProductID) { 
        $('#myModal').modal('show')
        }
    </script>
</head>
<body>
    <div>
        <div class="container">
            @foreach (var item in Model)
            {
                <a class="success" href="#" onclick="ShowDetails(@item.ProductID);">
                    <div class="col-md-3 well" style="margin:2%;">
                        <div class="@(item.Total > 10 ? "color-green" : "color-red" )">
                            @Html.DisplayFor(model => item.ProductName)
                            -
                            @Html.DisplayFor(model => item.Total)

                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    Try it Yourself »

</body>
</html>
